snippet obj
var ${1:obj} = {
  ${0}
}
endsnippet

snippet func
function(${1:vars}) {
  ${0}
}
endsnippet

snippet log
console.log(${0});
endsnippet

snippet each
_.each(${1:collection}, function(${2:obj}) {
  ${0}
})
endsnippet

# vim:ft=snippets:
